<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.oylong.newblog.dao.ArticleMapper">
<resultMap id="articleMap" type="Article">
    <id column="id" property="id"></id>
    <result property="authorId" column="author_id"></result>
    <result property="createTime" column="create_time"></result>
    <result property="modifyTime" column="modify_time"></result>
    <result property="content" column="content"></result>
    <result property="title" column="title"></result>
    <result property="commentCount" column="comment_count"></result>
    <collection property="categories" column="id" select="com.oylong.newblog.dao.CategoryMapper.selectCategoryByArticleId"></collection>
</resultMap>

    <resultMap id="simpleArticle" type="com.oylong.newblog.vo.SimpleArticleVo">
        <id column="id" property="id"></id>
        <result property="content" column="content"></result>
        <result property="nickname" column="nickname"></result>
        <result property="createTime" column="create_time"></result>
        <result property="title" column="title"></result>
        <result property="commentCount" column="comment_count"></result>
        <collection property="mainCategories" column="id" select="com.oylong.newblog.dao.CategoryMapper.selectMainCategoryByArticleId"></collection>
    </resultMap>

    <select id="selectMyPage" resultMap="articleMap">
        select * from article
    </select>

    <select id="selectArticleById" resultMap="articleMap" parameterType="java.lang.Long">
        select * from article where id = #{id}
    </select>

    <select id="selectSimpleArticle" resultMap="simpleArticle">
        SELECT article.id,left(article.content, 25) as content ,user.nickname,article.create_time,article.title,article.comment_count FROM article,user where author_id = user.id
    </select>

</mapper>
