<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.oylong.newblog.dao.CommentMapper">

    <resultMap id="commentMap" type="Comment">
        <id column="id" property="id"></id>
        <result property="content" column="content"></result>
        <result property="articleId" column="article_id"></result>
        <result property="createTime" column="create_time"></result>
        <result property="parentId" column="parent_id"></result>
        <result property="toId" column="to_id"></result>
        <result property="nickname" column="nickname"></result>
        <result property="email" column="email"></result>
        <result property="website" column="website"></result>
        <collection property="children" column="id" select="selectChildren"></collection>
    </resultMap>

    <resultMap id="commentVoMap" type="com.oylong.newblog.vo.CommentVo">
        <id column="id" property="id"></id>
        <result property="content" column="content"></result>
        <result property="articleId" column="article_id"></result>
        <result property="title" column="title"></result>
        <result property="createTime" column="create_time"></result>
        <result property="nickname" column="nickname"></result>
        <result property="email" column="email"></result>
        <result property="website" column="website"></result>
    </resultMap>

    <select id="selectCommentsByArticleId" resultMap="commentMap">
        select * from comment where article_id = #{articleId} and parent_id is null
    </select>

    <select id="selectChildren" parameterType="java.lang.Long" resultType="Comment">
        select * from comment where parent_id = #{parentId}
    </select>

    <select id="selectCommentVo" resultMap="commentVoMap">
        select comment.*,article.title
        from comment
        INNER JOIN article
        on article.id = comment.article_id
        <where>
            ${ew.sqlSegment}
        </where>
        order by id desc
    </select>





</mapper>



